body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
ul, li {
  list-style-type: none;
  padding-left: 0;
}
.navbar .logo {
  color:white;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.btn {
  border-radius: 24px;
}
.btn-default {
  font-size: 24px;
  font-weight: 500;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0);
  border:solid 1px rgba(255,255,255,0.3);
}

.btn-default:hover {
  background-color: rgba(5,60,80,0.5);
  border:solid 1px rgba(255,255,255,0.5);
  color: white;
  cursor: pointer;
}

.center {
  text-align: center;
}

.btn {
  margin-top: 7px;
}
.right {float: right;}
.left {float: left;}
.inline {display: inline;}
.white {color:white;
}
h1, h2 {
  font-family: 'Roboto Slab', serif;
}
.hero-content h1 {
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

h5 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 14px;
  color: rgba(0,0,0,0.35);
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
}

/*  NAV  */
.navbar-default {
  background-color: rgba(0,0,0,0);
  border:none;
}

ul.nav.navbar-nav{
  float: right;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
/*  END NAV  */


/*  JUMBOTRON  */
.jumbotron {
  margin: 0;
}
.jumbotron p {
  font-size: 15px;
  margin-bottom: 10px;
}
.jumbotron .timestamp {
  font-size: 12px;
  color: rgba(0,0,0,0.4);
  /*margin:5px 0 -5px;*/
}
.hero h1 {
  color: white;
}
.header {
  opacity: 0;
}
.header.show {
  opacity: 1;
}

.hero {
  height: 600px;
  margin-top: -50px;
  /*background: url('../images/aquarium.jpg');*/
  background-color: transparent;
  padding: 0;
}
.hero-content {
  margin-top: 100px;
}
.for-teachers {
  padding: 30px 0 40px;
  background-color: white;
}
.for-teachers h2, .for-parents h2 {
  color: rgba(5,70,100,1);
  font-weight: 700;
}
.for-parents.jumbotron {
  padding-bottom: 0;
}

.report {
  border-bottom: solid 1px rgba(5,70,100,0.2);
  width: 100%;
}
.report-img {
  margin: 15px 15px 0 15px;
  height: 260px;
  background-color: rgba(0,0,0,0.05);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.row2 {
  margin: 30px 0;
}
.note {
  padding-top: 130px;
}

.phone-img {
  background: url('../images/iphone6e.png') no-repeat;
  /*background: url('../images/iPhone-kidcasa-1.png') no-repeat;*/
  height: 480px;
  padding: 15px;
  /*border-bottom: solid 1px rgba(5,70,100,0.2);*/
  background-size: cover;
  width: 100%;
}

.next-screen {
  height: 380px;
  width: 270px;
  background-color: rgba(240,240,240,1);
  top: 85px;
  position: relative;
  left: 28px;
  padding: 30px;
}
.next-screen2 {
  height: 380px;
  width: 270px;
  background-color: rgba(220,220,220,1);
  top: 100px;
  position: absolute;
  left: 58px;
  padding: 30px;
}

/*  END JUMBOTRON  */


/*  CAMERA  */
.camera {
  width: 234px;
  background-color: rgba(0,0,0,0.2);
  height: 400px;
  position: absolute;
  top: 82px;
  left:33px;
}
.camera-btn-container {
  background-color: #333;
  height: 80px;
  position: absolute;
  top: 402px;
  left:33px;
  width: 234px;
}
.camera-btn {
  width: 54px;
  height: 54px;
  background-color: white;
  border-radius: 30px;
  top: 12px;
  left:92px;
  position: absolute;
}
.camera-btn-center {
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 25px;
  border:solid 2px #333;
  top: 18px;
  left:98px;
  position: absolute;
}
.pressed {
  transition: all 0.1s ease;
  background-color: #333;
}
.flash {
   -webkit-animation: flash 0.1s;
    animation: flash 0.1s;
}

@-webkit-keyframes flash {
    from {background-color: rgba(0,0,0,0.2)}
    to {background-color: rgba(0,0,0,0.8);}
}
.use-photo-link, .retake-link {
  margin-top: 30px;
  -webkit-animation: slideUp 0.2s;
  animation: slideUp 0.2s;
}
.underline {
  text-decoration: underline;
}
.use-photo-link {
  margin-right: 15px;
}
.retake-link {
  margin-left: 15px;
}

@-webkit-keyframes slideUp {
  from {top: 40px;}
  to {top:0px;}
}

.focus {
  width: 90px;
  height: 90px;
  border:solid 1px orange;
  opacity: 0.75;
  margin: auto;
  top:110px;
  position: relative;
}
.red {
  background-color: red;
}

.demo {
  position: relative;
}
.phone {
  position: absolute;
  z-index: 100;
}
.phone img {
  width: 300px;
  padding: 0 15px;
}

.photo-captured {
  background: url('../images/penguins_swim.jpg') no-repeat;
  background-size: cover;
}
.faces {
  opacity: 0;
  padding: 15px 30px;
  position: relative;
  top: 80px;
  left: 15px;
}
.hide {
  opacity:0;
}

.faces.show, .hide.slideDown, .next-screen.show, .next-screen2.show {
  opacity: 1;
}
.face {
  border-radius: 500px;
  padding:0;
  border:solid 1px rgba(255,255,255,0.25);
  margin-bottom: 5px;
  display: block;
}
.name {
  font-size: 12px;
  margin-bottom: 15px;
}
.send {
  margin: 27px 15px 0 0;
}
.selected {
  border:solid 3px rgba(255,165,25,0.8);
}
.face1 {
  background: url('../images/face1.jpg');
  background-size: cover;
}
.face2 {
  background: url('../images/face2.jpg');
  background-size: cover;
}
.face3 {
  background: url('../images/face3.jpg');
  background-size: cover;
}
.face4 {
  background: url('../images/face4.jpg');
  background-size: cover;
}


/*  END CAMERA  */

.cta {
  padding: 15px 0 20px;
  background-color: rgba(5,70,100,0.8);
}
.footer {
  background-color: rgba(5,70,100,1);
}
.footer h5 {
  color: white
}





#phone-window {
  height: 200px;
  width: 312px;
  position: absolute;
  top: 147px;
  left: 39px;
}

#scrollable-content {
  height: 333px;
  overflow: auto;
  background-color: rgba(200, 200, 200, 1);
}
#scrollable-img {
  background: url('../images/feed4.png');
  height: 160%;
  background-size: cover;
}
#scrollable-img2 {
  background: url('../images/feed2.png');
  height: 100%;
  background-size: cover;
}
#fixed-phone-header {
  background: url('../images/feed-header.png');
  background-size: cover;
  position: absolute;
  top: 147px;
  left: 39px;
}
